<!DOCTYPE html>
<html lang="en-US">
<title>2仔大 | madmic</title>
    <meta charset="UTF-8"> 
<head>
<script type="application/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="application/javascript" src="js/yinghua.js"></script>
<script src="js/vue.global.js"></script>

</head>
        <body style="padding:0;margin:0;overflow:hidden;height: 100%;" >
        <div id="app">    
        <div style="position:absolute; width:100%; height:100%; z-index:-5; left:0; top:0;">
<img  src="img/bg/indoor.png" height="100%" width="100%" style="left:0; top:0;"  alt="室内场景背景图"  >
</div>

<!-- 返回-->
<div>
<img  src="img/ui/img_return1_bg.png"  style="height:80px;position: absolute;left:2%; top:2%;">
<a href="index.html"><img  src="img/ui/img_return1.png"  style="position: absolute;left:0; top:0;"></a>
<img  src="img/ui/txt_friendroom.png"  style="position: absolute;left:8%; top:3.7%; width:140px;">
</div>
<!-- 玩家位置-->  
<div>
    <!-- 房主位置--> 
<img  src="img/ui/frame_gold.png"  style="position: absolute;left:5%; top:15%;width: 15%;" alt="返回按钮背景图"/>  
<img  src="img/ui/character_bg.png"  style="position: absolute;left:5%; top:15%;width: 15%;" alt="返回按钮背景图"/>
<!-- 玩家2位置--> 
<img  src="img/ui/frame_gold.png"  style="position: absolute;left:23%; top:15%;width: 15%;"/>  
<img  src="img/ui/character_bg.png"  style="position: absolute;left:23%; top:15%;width: 15%;"/>
<!-- 玩家3位置--> 
<img  src="img/ui/frame_gold.png"  style="position: absolute;left:41%; top:15%;width: 15%;"/>  
<img  src="img/ui/character_bg.png"  style="position: absolute;left:41%; top:15%;width: 15%;"/>
<!-- 玩家4位置-->
<img  src="img/ui/frame_gold.png"  style="position: absolute;left:60%; top:15%;width: 15%;"/>  
<img  src="img/ui/character_bg.png"  style="position: absolute;left:60%; top:15%;width: 15%;"/>
</div>
  <!-- 开始/准备按钮--> 
  <div id="kaishi">

  
  </div>
    <!-- 规则--> 
    <div>
  <img  src="img/ui/btn_choosen.png"  style="position: absolute;left:80%; top:22%;"> 
  <p style=" z-index:1;position: absolute; left:83%; top:21.2%; font-size:25px; color:black;"><?php echo $type; ?></p> 
  <img  src="img/ui/btn_choosen.png"  style="position: absolute;left:80%; top:32%;"> 
  <p style=" z-index:1;position: absolute; left:81.5%; top:31.2%; font-size:25px; color:black;"><?php echo $reward; ?></p> 
  <img  src="img/ui/btn_choosen.png"  style="position: absolute;left:80%; top:42%;"> 
  <p style=" z-index:1;position: absolute; left:80.8%; top:42.2%; font-size:18px; color:black;">房号：<?php echo $roomid; ?></p> 
  </div>
   <!-- 按钮--> 
   <div>
   <img  src="img/ui/btn_small.png"  style="position: absolute;left:80.5%; top:55%;width:180px;height:70px;"> 
  <p style=" z-index:1;position: absolute; left:82.6%; top:54.2%; font-size:25px; color:#ffae4c;">添加电脑</p>   
  <img  src="img/ui/btn_small.png"  style="position: absolute;left:80.5%; top:65%;width:180px;height:70px;"> 
  <p style=" z-index:1;position: absolute; left:82.6%; top:64.2%; font-size:25px; color:#ffae4c;">调整装扮</p>
   </div>



    <!-- 玩家1房主绘制--> 
    <div>
   
    <img  src=""  style="position: absolute;left:14.5%; top:16.5%; width:290px;"> 
    <img  src="img/ui/namebg.png"  style="position: absolute;left:13.5%; top:72%; height:80px;">
    <img  src=""  style="position: absolute;left:13.5%; top:72%; height:80px;"> 
    <img  src="img/ui/star_dark.png"  style="position: absolute;left:12.7%; top:76%; height:25px;">
    <img  src="img/ui/star.png"  style="position: absolute;left:13.5%; top:78.1%; height:20px;">   
    <img  src="img/ui/star.png"  style="position: absolute;left:14.5%; top:79.2%; height:15px;">
    <img  src="img/ui/ready.png"  style="position: absolute;left:20%; top:58.5%; display:block" id="ready" >
    <img  src=""  style="position: absolute;left:19%; top:70%; height:40px;">
    <p style=" z-index:1;position: absolute; left:18%; top:71.6%;font-size:25px; color:white;"></p> 
    <img  src="img/ui/roomowner.png"  style="position: absolute;left:14.5%; top:16%; "> 
    </div>
     <!-- 玩家2绘制--> 
     <div id='player2'>
     <img  src=''  style='position: absolute;left:35.5%; top:16.5%; width:290px;'> 
     <img  src='img/ui/namebg.png'  style='position: absolute;left:34.5%; top:72%; height:80px;'>
     <img  src=''  style='position: absolute;left:34.5%; top:72%; height:80px;'> 
     <img  src='img/ui/star_dark.png' style='position: absolute;left:33.7%; top:76%; height:25px;'>
     <img  src='img/ui/star.png'  style='position: absolute;left:34.5%; top:78.1%; height:20px;'> 
     <img  src='img/ui/star.png'  style='position: absolute;left:35.5%; top:79.2%; height:15px;'>
     <img  src='img/ui/ready.png'  style='position: absolute;left:41%; top:58.5%;display: block' id='ready'>
     <img  src=''  style='position: absolute;left:40%; top:70%; height:40px;'>
     <p style=' z-index:1;position: absolute; left:39%; top:71.6%;font-size:25px; color:white;'></p>
    </div>
     <!-- 玩家3绘制--> 
    
     <div id='player3'>
     <img  src=''  style='position: absolute;left:56.5%; top:16.5%; width:290px;'>
     <img  src='img/ui/namebg.png'  style='position: absolute;left:55.5%; top:72%; height:80px;'>
     <img  src=''  style='position: absolute;left:55.5%; top:72%; height:80px;'>
     <img  src='img/ui/star_dark.png' style='position: absolute;left:54.7%; top:76%; height:25px;'>
     <img  src='img/ui/star.png'  style='position: absolute;left:55.5%; top:78.1%; height:20px;'> 
     <img  src='img/ui/star.png'  style='position: absolute;left:56.5%; top:79.2%; height:15px;'>
     <img  src='img/ui/ready.png'  style='position: absolute;left:62%; top:58.5%;display:block ' id='ready'>
     <img  src=''  style='position: absolute;left:61%; top:70%; height:40px;'>
     <p style=' z-index:1;position: absolute; left:60%; top:71.6%;font-size:25px; color:white;'></p>

    </div>
 <img  src='img/ui/btn_ready.png'  style='position: absolute;left:40%; top:85%;' onclick='ready()' >";

    

</div> 
        </body>
	





<script>
  
 //退出房间
 window.onbeforeunload   = function(event) { 
    


    if (window.XMLHttpRequest)
{
    // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行的代码
    xmlhttp=new XMLHttpRequest();
}
else
{    
    //IE6, IE5 浏览器执行的代码
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
}
xmlhttp.onreadystatechange=function()
{
    if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
        
        
    }
}
//xmlhttp.open("GET","roomout.php",true);
//xmlhttp.send();







}
function begin(){
    
    if (window.XMLHttpRequest)
    {
        // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行的代码
        xmlhttp4=new XMLHttpRequest();
    }
    else
    {    
        //IE6, IE5 浏览器执行的代码
        xmlhttp4=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp4.onreadystatechange=function()
    {
        if (xmlhttp4.readyState==4 && xmlhttp4.status==200)
        {
          location.reload();
        }
    }
    xmlhttp4.open("GET","./api/deal/index.php?id1=<?php echo $player[0]; ?>&id2=<?php echo $player[1]; ?>&id3=<?php echo $player[2]; ?>&roomid=<?php echo $roomid; ?>",true);
    xmlhttp4.send();
    
    

}




function ready(){
    if (window.XMLHttpRequest)
    {
        // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行的代码
        xmlhttp3=new XMLHttpRequest();
    }
    else
    {    
        //IE6, IE5 浏览器执行的代码
        xmlhttp3=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp3.onreadystatechange=function()
    {
        if (xmlhttp3.readyState==4 && xmlhttp3.status==200)
        {
            location.reload();
        }
    }
    xmlhttp3.open("GET","ready.php",true);
    xmlhttp3.send();

}


//刷新页面
setInterval(function(){
        if (window.XMLHttpRequest)
    {
        // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行的代码
        xmlhttp2=new XMLHttpRequest();
    }
    else
    {    
        //IE6, IE5 浏览器执行的代码
        xmlhttp2=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp2.onreadystatechange=function()
    {
        if (xmlhttp2.readyState==4 && xmlhttp2.status==200)
        {
          //alert(xmlhttp2.responseText);
          if(xmlhttp2.responseText=="-1"){
            location.reload();


          }else if(xmlhttp2.responseText=="2"){
            alert("游戏开始了！");
            window.location.href='game.php';
          }
        }
    }
    // xmlhttp2.open("GET","server.php",true);
    // xmlhttp2.send();


    },1000);
	


    </script>

     <script>
        // 创建Vue实例
        const { createApp } = Vue;
        
        createApp({
            data() {
                return {
                    // WebSocket实例
                    ws: null,
                    // 连接状态
                    isConnected: false,
                    // 连接中状态
                    isConnecting: false,
                    // 消息列表
                    messages: [],
                    // 输入的消息
                    messageInput: '',
                    // WebSocket服务器地址，根据实际情况修改
                    wsServerUrl: 'ws://127.0.0.1:8000/enter'
                }
            },
            created(){
                this.toggleConnection();
                setTimeout(() => {
                    this.sendMessage()
                }, 1000);
            },
            methods: {
                // 切换连接状态
                toggleConnection() {
                    if (this.isConnected) {
                        this.disconnect();
                    } else {
                        this.connect();
                    }
                },
                
                // 连接到WebSocket服务器
                connect() {
                    // 避免重复连接
                    if (this.isConnected || this.isConnecting) return;
                    
                    this.isConnecting = true;
                    
                    try {
                        this.ws = new WebSocket(this.wsServerUrl);
                        
                        // 连接成功回调
                        this.ws.onopen = () => {
                            console.log('WebSocket连接已建立');
                            this.isConnected = true;
                            this.isConnecting = false;
                            this.addMessage('已成功连接到服务器', false);
                        };
                        
                        // 接收消息回调
                        this.ws.onmessage = (event) => {
                            console.log('收到消息:', event.data);
                            this.addMessage(event.data, false);
                        };
                        
                        // 连接关闭回调
                        this.ws.onclose = (event) => {
                            console.log(`WebSocket连接已关闭，代码: ${event.code}, 原因: ${event.reason}`);
                            this.isConnected = false;
                            this.isConnecting = false;
                            this.addMessage(`连接已关闭: ${event.reason || '未知原因'}`, false);
                            
                            // 如果不是主动关闭（代码1000），尝试重连
                            if (event.code !== 1000) {
                                setTimeout(() => {
                                    this.connect();
                                }, 3000);
                            }
                        };
                        
                        // 错误处理
                        this.ws.onerror = (error) => {
                            console.error('WebSocket错误:', error);
                            this.isConnecting = false;
                            this.addMessage(`发生错误: 请检查服务器是否可用`, false);
                        };
                    } catch (error) {
                        console.error('连接WebSocket失败:', error);
                        this.isConnecting = false;
                        this.addMessage(`连接失败: ${error.message}`, false);
                    }
                },
                
                // 断开连接
                disconnect() {
                    if (this.ws) {
                        // 1000代码表示正常关闭
                        this.ws.close(1000, '客户端主动关闭连接');
                        this.ws = null;
                    }
                },
                
                // 发送消息
                sendMessage() {
                    this.messageInput = '{"type":"initRoom","data":"","name":""}'
                    if (!this.isConnected || !this.messageInput.trim()) return;
                    
                    try {
                        this.ws.send(this.messageInput);
                        this.addMessage(this.messageInput, true);
                        this.messageInput = ''; // 清空输入框
                    } catch (error) {
                        console.error('发送消息失败:', error);
                        this.addMessage(`发送失败: ${error.message}`, false);
                    }
                },
                
                // 添加消息到列表
                addMessage(content, isOwn) {
                    const time = new Date().toLocaleTimeString();
                    this.messages.push({
                        content,
                        isOwn,
                        time
                    });
                    
                    // 自动滚动到底部
                    this.$nextTick(() => {
                        const messageContainer = document.querySelector('.border.rounded-lg.h-80');
                        if (messageContainer) {
                            messageContainer.scrollTop = messageContainer.scrollHeight;
                        }
                    });
                }
            },
            // 实例销毁时断开连接
            beforeUnmount() {
                this.disconnect();
            }
        }).mount('#app');
    </script>
</html>